body {
  margin: 0px;
  padding: 20px;
  background-color: black;
  font-family: 'Open Sans Condensed', sans-serif;
}

#landing {
  background-image: url(static/images/camras.jpeg);
}

#about {
  margin-left:30px;
}